* {
	border: 0;
	margin: 0;
	padding: 0;
	font-style: normal;
}

article, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}


@font-face {
	font-family: "Chalet";
	src: url("../fonts/Chalet.eot");
	src: url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Chalet.woff") format("woff"),
		 url("../fonts/Chalet.ttf") format("truetype"),
		 url("../fonts/Chalet.svg#Chalet") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "nava";
	src: url("../fonts/nava.eot");
	src: url("../fonts/nava.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/nava.woff") format("woff"),
		 url("../fonts/nava.ttf") format("truetype"),
		 url("../fonts/nava.svg#nava") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "gist";
	src: url("../fonts/gist.eot");
	src: url("../fonts/gist.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/gist.woff") format("woff"),
		 url("../fonts/gist.ttf") format("truetype"),
		 url("../fonts/gist.svg#gist") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "giraffe";
	src: url("../fonts/giraffe.eot");
	src: url("../fonts/giraffe.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/giraffe.woff") format("woff"),
		 url("../fonts/giraffe.ttf") format("truetype"),
		 url("../fonts/giraffe.svg#giraffe") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pecita";
	src: url("../fonts/Pecita.eot");
	src: url("../fonts/Pecita.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Pecita.woff") format("woff"),
		 url("../fonts/Pecita.ttf") format("truetype"),
		 url("../fonts/Pecita.svg#Pecita") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ventilla_script-webfont";
	src: url("../fonts/ventilla_script-webfont.eot");
	src: url("../fonts/ventilla_script-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/ventilla_script-webfont.woff") format("woff"),
		 url("../fonts/ventilla_script-webfont.ttf") format("truetype"),
		 url("../fonts/ventilla_script-webfont.svg#ventilla_script-webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "maloire";
	src: url("../fonts/mal.eot");
	src: url("../fonts/mal.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/mal.woff") format("woff"),
		 url("../fonts/mal.ttf") format("truetype"),
		 url("../fonts/mal.svg#mal") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ostrich";
	src: url("../fonts/ostrich.eot");
	src: url("../fonts/ostrich.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/ostrich.woff") format("woff"),
		 url("../fonts/ostrich.ttf") format("truetype"),
		 url("../fonts/ostrich.svg#ostrich") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background: #212121 url("../images/fondo.jpg");
	color: #FFF;
	font-family: "Chalet";
	font-size: 16px;	
}

main {
	background:#464744;
	max-width: 1000px;
	margin: 0.5em auto;
	padding-top: 1em;
	border-left: 0.1em solid #FFF;
	border-right: 0.1em solid #FFF;
	box-shadow: 0.5em 0.7em 0.1em 0.1em rgba(0,0,0,0.4);
}

#hd img {
	margin-right: 1em;
}

#hd {
	margin-bottom: 2em;
}
a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFAA29;
}

#tit {
	font-family: "ventilla_script-webfont";
	font-size: 5.5em;
	font-weight: lighter;
	margin-right: 0.5em;
	margin-left: 0.5em;
	color: white;
}

.cab {
	-ms-transition: all 1.2s ease-in;
	-moz-transition: all 1.2s ease-in;
	-o-transition: all 1.2s ease-in;
	-webkit-transition: all 1.2s ease-in;
	transition: all 1.2s ease-in;
	opacity: 1;
	filter: alpha(opacity=10);
}

.cab:hover {
	-ms-transition: all 1.2s ease-out;
	-moz-transition: all 1.2s ease-out;
	-o-transition: all 1.2s ease-out;
	-webkit-transition: all 1.2s ease-out;
	transition: all 1.2s ease-out;
	opacity: 0.7;
	filter: alpha(opacity=8);
}

h1 {	
	margin: 0.3em;
	text-align: center;
}

h1 p {
	display: inline-block;
	vertical-align: middle;
}

h1 a {
	display: inline-block;
	vertical-align: middle;
	color: #F5D8AD;
	font-weight: lighter;
	font-size: 1.7em;	
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	opacity: 1;
	filter: alpha(opacity=10);
}

h1 a:hover {
	font-size: 1.75em;
	-ms-transition: all 4.6s ease-out;
	-moz-transition: all 4.6s ease-out;
	-o-transition: all 4.6s ease-out;
	-webkit-transition: all 4.6s ease-out;
	transition: all 4.6s ease-out;
	opacity: 0.8;
	filter: alpha(opacity=7);
}

img, video {
	max-width: 100%;
}


#contenedor {
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}

#s1 {
	box-shadow: 0em 0em 0.1em 0.2em rgba(0, 0, 0, 0.75);
	background: #506DAD;
	display: inline-block;
	margin: 0.1em auto;
	max-width: 1110px;
	padding: 0.25em;
	vertical-align: top;
	border-radius: 0.2em;
	min-height: 1000px;
	width: 70%;
}

aside { 
	display: inline-block;
	margin: 0.6em auto;
	min-height: 990px;
	padding: 0.25em;
	vertical-align: top;
	margin-top: 1.7em;
	margin-right: 0.5em;
	width: 20%;
}

#menu {
	padding-top: 0.1em;
	padding-bottom: 1.1em;
	margin: 0.1em auto;
	box-shadow: 0em 0em 0.1em 0.2em rgba(0, 0, 0, 0.75);
	max-width: 210px;
	background: #506DAD;
	border-radius: 0.8em;
	min-height: 290px;
}

#interes{
	max-width: 210px;
	box-shadow: 0em 0em 0.1em 0.2em rgba(0, 0, 0, 0.75);
	background: #506DAD;
	border-radius: 0.8em;
	min-height: 590px;
	margin: 1em auto;
}

nav {
	display: block;
	max-width: 100%;
	margin: 0.5em;
	margin-top: 1.8em;
}

nav ul {
	list-style: none;
}

nav li {
	margin: 0.1em auto;
	display: block;
	width: 90%;
	padding: 0.2em;
}

nav a {
	opacity: 0.9;
	background: #F1EBDE;
	box-shadow: 1px 2px 3px 0px rgba(22,36,77,1);
	border-radius: 0.2em;
	color: #000000;
	font-family: "maloire";
	font-size: 1.4em;
	display: block;
	margin: 0.1em;
	padding: 0.4em;
	-ms-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	-webkit-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}

nav a:hover {
	background: #FBEBC6;
	border: 0.1em solid #000000;
	border-radius: 0.2em;
	color: #000000;
	font-family: "maloire";
	font-size: 1.5em;
	display: block;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


article {
	background: radial-gradient(circle, #E3D3BC, #FFF);
	border: 0.1em solid #000000;
	border-radius: 0.6em;
	padding: 1.5em;
	margin: 1.5em;
	opacity: 0.8;
}

article p {
	color: #000000;
	font-family: "nava";
	font-weight: bold;
	font-size: 1.1em;
}

article a img {
	box-shadow: 0em 0em 0.1em 0.2em rgba(119, 119, 119, 0.75);
	border-radius: 1.2em;
}

article a:hover img{
	box-shadow: 0em 0em 0.1em 0.2em rgba(0, 0, 0, 0.75);
	border-radius: 1.2em;
	opacity: 0.8;
}

h2 {
	color: #FFF;
	border: 0em;
	box-shadow: 1px 2px 3px 0px rgba(22,36,77,1);
	font-size: 1.4em;
	border-radius: 0.3em;
	background: #6C7BE9;
	opacity: 0.92;
	padding: 0.5em;
	margin: 0.5em;
}

footer {
	font-weight: lighter;
	width: 92%;
	background: url("../images/HTML5_Logo.png");
	min-height: 50px;
	margin: 0.5em auto;
	margin-top: 3em;
	color: #FFF;
	text-align: center;
}


@media(max-width: 1080px) {

	h1 a {
		font-size: 1.3em;
	}

	h1 a:hover {
		font-size: 1.35em;
	}
}

@media(max-width: 800px) {

	h1 a {
		font-size: 1.2em;
	}

	h1 a:hover {
		font-size: 1.25em;
	}
}

@media(max-width: 600px) {

	h1 a {
		font-size: 1.1em;
	}

	h1 a:hover {
		font-size: 1.15em;
	}
	nav li {
		display: inline-block;
		margin: 0px;
		width: 95%;
	}

	#s1, #s2, aside {
		display: block;
		margin-bottom: 0.3em;
		width: 85%;
	}
}