<!DOCTYPE html>
<html lang="es">
<head>
	<title>ObservaTerra 3.2</title>
	<meta charset="UTF-8"/> 
	<meta name="description" content="Web de desarrollo de la asignatura ASW"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ico_mundo.gif")">
	<link rel="author" type="text/plain" href="humans.txt">
	<link rel="shortcut icon" type="image/x-icon" href="images\ico_mundo.gif"/>
	<!--[if lt IE 9]>
		<script src="//http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<main>
		<section id="contenedor">
			<header id = "hd">
			<h1>
				<a href="index.html">
					<img class="cab" src="@routes.Assets.at("images/ico_mundo.png")">
				</a>
				<p> ●    <p id="tit"> ObservaTerra 3.2 </p>    ● </p>
			</h1>
		</header>
			<aside>
				<section id="menu">
					<nav>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="noticias.scala.html">Noticias</a></li>
							<li><a href="documentos.scala.html">Documentos</a></li>
							<li><a href="videos.scala.html">Vídeos</a></li>
							<li><a href="enlaces.scala.html">Enlaces</a></li>
						</ul>
					</nav>
				</section>
				<section id="interes">

				</section>
			</aside>
			<section id="s1">
				<h2> VIDEOS </h2>
				<article>
					<p> Videos de ObservaTerra 3.2:<br><br>
					 </p>
					<br> 
					<a href="sobremi.html">
						<img src="@routes.Assets.at("images/mundo.jpg")">
					</a>	
					<p> <br></p>
				</article>
				<article>

				</article>
			</section>
		</section>
		<footer>
			Web diseñada y maquetada con Responsive Design por los integrantes del grupo 3.2 con HTML5 y CSS3
		</footer>
	</main>
</body>
</html>